@import url("https://fonts.googleapis.com/css?family=Butterfly+Kids");

a {
  font-family: "Average Sans", sans-serif;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.average-text {
  font-family: "Average Sans", sans-serif;
}

.blue-over {
  background-color: rgba(120, 230, 255, 0.5);
}

.butterfly-text {
  font-family: "Butterfly Kids", cursive;
}

.full-div {
  width: 98%;
}

.gray-over {
  background-color: rgba(160, 160, 160, 0.5);
}

.green-button {
  background-color: #85dd1f;
  background-image: none;
  border: 2px solid #85dd1f;
  color: #fff;
}

.green-button:hover {
  background-color: #000;
  color: #85dd1f;
}

.green-over {
  background-color: rgba(133, 221, 31, 0.5);
}

.half-div {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}

.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 325px;
}

.lg-button {
  border-radius: 0;
  box-shadow: 2px 2px 10px #888;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px 30px;
  text-decoration: none;
  text-shadow: 1.75px 1.75px 3px #888;
}

.lg-button:hover {
  text-decoration: none;
}

.lg-heading {
  font-size: 50px;
  margin: 10px auto;
  padding: 10px 5px;
}

.lg-p {
  font-size: 18px;
}

.md-p {
  font-size: 14px;
}

.main-heading {
  font-size: 50px;
  margin: 10px auto;
  padding: 10px 5px;
}

.orange-button {
  color: #fff;
  background-color: #f7941d;
  border: 2px solid #f7941d;
  background-image: none;
}

.orange-button:hover {
  color: #f7941d;
  background-color: #000;
}

.purple-button {
  background-color: #9353f9;
  background-image: none;
  border: 2px solid #9353f9;
  color: #fff;
}

.purple-button:hover {
  color: #9353f9;
  background-color: #fff;
}

.text-shadow {
  text-shadow: 3px 3px 5px #000;
}

.white-over {
  background-color: rgba(251, 251, 251, 0.5);
}

.xl-p {
  font-size: 27px;
}

.xs-p {
  font-size: 10px;
}

.yellow-button {
  color: #000;
  background-color: #fff200;
  border: 2px solid #fff200;
}

.yellow-button:hover {
  color: #fff200;
  background-color: #000;
}

@media (min-width: 768px) {
  .half-div {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .hero-img {
    height: 500px;
  }

  .lg-heading {
    font-size: 45px;
    margin: 0 auto 10px;
    padding: 0;
  }

  .lg-p {
    font-size: 16px;
  }

  .main-heading {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .lg-p {
    font-size: 18px;
  }

  .xl-p {
    font-size: 23px;
    margin: 30px 20px;
  }
}

@media (min-width: 1200px) {
  .lg-p {
    font-size: 20px;
  }
}
